AWS_ACCESS_KEY_ID=AKIAXXXXXXXXXXXXXXXX
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

REGISTRY_URL=<IP_REGISTRY>:443
REGISTRY_USER=admin
REGISTRY_PASSWORD=admin123

MYSQL_PASSWORD=<choisis_un_mot_de_passe>
MYSQL_DATABASE=ynov_ci
MYSQL_USER=root
MYSQL_HOST=db

AUTH_USERNAME=admin
AUTH_PASSWORD=admin

API_URL=http://<IP_APP>:8000
